h1 {
  text-align: center;
  color:cornflowerblue
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 1em;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 1em;
}

img {
  width: 200px;
  height: 200px;
}

.card {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

